<!doctype html>
<html class="no-js" lang="en">
  {{- partial "head.html" . -}}
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <div class="grid-container">
      {{- partial "header.html" . -}}
      <aside class="sidebar-grid">
        <h1>this is the sidebar</h1>
      </aside>
      <main class="main-grid">
        {{- block "main" . }}{{- end }}
      </main>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
